* {
    margin: 0;
    padding: 0;
}

body {
    background: #CCDBFD;
    /*background-image: url(/ressources/background\ donuts.jpg);*/
}

html {
    height: 100%;
    width: 100%;
}

nav {
background-color:#FEFEE3;
display: flex;
height: 11vh;
justify-content: space-between;
align-items: center;
box-shadow: 10px 5px 15px 1px grey;
}

.logo {
transition: transform .4s;
border-radius: 70%;
height: 8vh;
width: 8vh;
margin-left: 1.5vh;
margin-top: 0.5vh;
align-items: flex-start;;

}
    
.logo:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2); 
    transform: scale(1.2);
    }

#contactUs {
    display: flex;
    justify-content: center;
    align-items: center;

}

#contact {
    backdrop-filter: blur(1.5rem);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto 90px;
    gap:0.5rem;
}

input {
    height: 5vh;;
    width: 35vh;
    border: none;
    outline: none;
    background-color: #FEFEE3;
    border-radius: 30px;
    padding-left: 20px;
    box-shadow: 10px 5px 15px 1px grey;
}

#contact #Submit {
    margin-top: 2rem;
}

#imageContact {
    background-size: cover;
    
}

#messageSize {
    overflow-wrap: break-word;
    background-color: #FEFEE3;
    height: 15vh;;
    width: 35vh;
    border: none;
    outline: none;
    background-color: #FEFEE3;
    border-radius: 30px;
    padding-left: 20px;
    box-shadow: 10px 5px 15px 1px grey;
}

.submitBtn {
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 14px;
    font-family: inherit;
    color: #fff;
    min-width: 5em;
    width: 6em;
    height: 50px;
    text-align: center;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 300%;
    border-radius: 2rem;
    margin-top:1.8rem;
    cursor: pointer;
}
.navigation {
    background-color: FEFEE3;
}

label {
    font-weight: bold;
}