/* GLOBAL */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #CCDBFD;
}

html {
    height: 100%;
    width: 100%;
}

/* NAVIGATION */

nav {
background-color:#FEFEE3;
display: flex;
height: 11vh;
justify-content: space-between;
align-items: center;
box-shadow: 10px 5px 15px 1px grey;
}

.logo {
border-radius: 70%;
height: 8vh;
width: 8vh;
margin-left: 1.5vh;
margin-top: 0.5vh;
align-items: flex-start;;
}

nav img {
    height: 8vh;
    width: 8vh;
    margin-right: 1.5vh;
    cursor: pointer;
}

/* BODY CSS STYLE */

.todo-app {
    border: 3px solid black;
}

.task-input {
    border: 3px solid transparent;
    background-color: transparent;
    bottom: 3%;
    width: 80%;
    /* flex-wrap: wrap; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

#task {
    border: 3px solid transparent;
    width: 8rem;
    height: 50px;
    float: left;   
    font: bold 13px 'ubuntu';
    background: #FEFEE3;
    border-top-style: none;
    outline: none;
    padding-left: 1rem;
    border-radius: 2rem 0px 0px 2rem;
}

#newFolderName {
    border: 3px solid violet;
    width: 8rem;
    height: 50px;
    float: left;   
    font: bold 13px 'ubuntu';
    background: #FEFEE3;
    border-top-style: none;
    outline: none;
    padding-left: 1rem;
    border-radius: 2rem;
    margin-right: 10;
    border-radius: 2rem 0px 0px 2rem;
}

#addTask {
    border: 3px solid transparent;
}

.categoryList{
    border: 3px solid black;
}

#taskCategory {
    border: 3px solid yellow;
}

.new-folder {
    border: 3px solid red;
    background-color: transparent;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#createFolder {
    border: 3px solid blue;
}

.globalContainer {
    border: 3px solid transparent;
    background-color: transparent;
    height: 50px;
    position: absolute;
    bottom: 3%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1.3vh;
    padding: 0px;
    margin-left: 10%;
    flex-direction: column;
}

label {
    font-weight: bold;
}

button {
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 14px;
    font-family: inherit;
    color: #fff;
    min-width: 5em;
    width: 6em;
    height: 50px;
    text-align: center;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 300%;
    border-radius: 0px 2rem 2rem 0px;
}




