* {
    margin: 0;
    padding: 0;
}

body {
    background: #E591FA;
justify-content: center;
align-items: center;
}

nav {
background-color:#F9C22E;
display: flex;
height: 11vh;
justify-content: space-between;
align-items: center;
}

.logo {
border-radius: 70%;
height: 8vh;
width: 8vh;
margin-left: 1.5vh;
margin-top: 0.5vh;
align-items: flex-start;;

}

nav img {
    height: 8vh;
    width: 8vh;
    margin-right: 1.5vh;
    cursor: pointer;
}

h1 {

}

h2 {

}

.containerTasks {
margin-top: 3rem;
background-color: white;
border-radius: 20px;
max-width: 50rem;
overflow: hidden;
overflow-y: scroll;
max-height: 200px;
}

.tasksList{
background-color: transparent;
margin-top: 4vh;
}

ul li {
    list-style: none;
    font-size: 30px;
    padding: 15px 10px 15px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    
}



ul li::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(ressources/unchecked.png);
    background-size: cover ;
    background-position: center ;
    top: 15px;
    left: 10px;
}
ul li.checked {
    color: gray;
    text-decoration:line-through;
}

ul li.checked::before {
    background-image: url(ressources/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: blue;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
}

.newTask {
    background-color: #E591FA;
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.3vh;
    padding: 0px;
}

input {
    height: 5vh;;
    width: 35vh;
    border: none;
    outline: none;
    background-color: #F9C22E;
    border-radius: 30px;
    padding-left: 20px;
}

button {
    background-color: #eb6d1f;
    width: 10vh;
    height: 5vh;
    border-radius: 30px;
    cursor: pointer;
}