* {
    margin: 0;
    padding: 0;
}

body {
   
    background: #CCDBFD;
    /*background-image: url(/ressources/background\ donuts.jpg);*/
}

html {
    height: 100%;
    width: 100%;
}

nav {
background-color:#FEFEE3;
display: flex;
height: 11vh;
justify-content: space-between;
align-items: center;
box-shadow: 10px 5px 15px 1px grey;
}

.logo {
border-radius: 70%;
height: 8vh;
width: 8vh;
margin-left: 1.5vh;
margin-top: 0.5vh;
align-items: flex-start;;

}

nav img {
    height: 8vh;
    width: 8vh;
    margin-right: 1.5vh;
    cursor: pointer;
}

.task-list {
    display: flex-wrap;
    overflow: auto;
    background-color: white;
    border-radius: 1rem;
    min-height: 4vh;
    max-height: 25vh;
    min-width: 80%;
    max-width: 50%;
    margin: 5%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    color: red;
}

 h2{
    background-color: white;
    width: 50%;
    font-size: xx-large;
    color: rgb(0, 0, 0);
   padding-left: 30%;
 }

li {
 
    margin-top: 5%;
    display: flex;
    margin-left: 2%;
    padding-bottom: 2%;
}



.task-input {
    margin-bottom: 0;


}